.footer__img {
    position: absolute;
    left: 0;
    right: 0;
    top: -45px;
    width: 100%;
    height: calc(100% + 45px);
    object-fit: cover;
}

@media screen and (min-width:526px) {
    .footer__img {
        width: auto;
        left: calc((100% - 522px)/2);
    }
}
