.footer__img {
    position: relative;
    left: 0;
    top: -45px;
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media screen and (min-width: 526px) {
    .footer__img {
        position: absolute;
        width: auto;
        height: calc(100% + 45px);
        left: calc((100% - 266px) / 2);
    }
}
