@import url(./vendor/normalize.css);
@import url(./vendor/fonts.css);

@import url(./blocks/page/page.css);
@import url(./blocks/firecode-form/__form-block/firecode-form__form-block.css);
@import url(./blocks/firecode-form/firecode-form.css);
@import url(./blocks/firecode-form/__description/firecode-form__description.css);
@import url(./blocks/firecode-form/__title/firecode-form__title.css);
@import url(./blocks/firecode-form/__lead/firecode-form__lead.css);
@import url(./blocks/firecode-form/__text/firecode-form__text.css);

@import url(./blocks/firecode-form/__form/firecode-form__form.css);
@import url(./blocks/firecode-form/__row/firecode-form__row.css);
@import url(./blocks/firecode-form/__row-radio/firecode-form__row-radio.css);
@import url(./blocks/firecode-form/__label/firecode-form__label.css);
@import url(./blocks/firecode-form/__label/_questions/firecode-form__label_questions.css);
@import url(./blocks/firecode-form/__input/firecode-form__input.css);
@import url(./blocks/firecode-form/__input-type-radio/firecode-form__input-type-radio.css);
@import url(./blocks/firecode-form/__textarea/firecode-form__textarea.css);
@import url(./blocks/firecode-form/__button/firecode-form__button.css);
@import url(./blocks/firecode-form/__form-control/firecode-form__form-control.css);


@import url(./blocks/social-list/social-list.css);
@import url(./blocks/social-list/__li/social-list__li.css);
@import url(./blocks/social-list/__link/social-list__link.css);


@import url(./blocks/footer/footer.css);
@import url(./blocks/footer/__img/footer__img.css);