.firecode-form__button {
	color: #ffffff;
	background-color: #f80909;
	border: 1px transparent;
	text-transform: uppercase;
	padding: 10px 30px;
	line-height: 25px;
}
.firecode-form__button:hover {
	cursor: pointer;
	opacity: 0.5;
}
